@import 'fonts.scss';
@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MonoRegular';
}

body {
    background: #1e1e1e;
    color: $white;
}

h2 {
    text-transform: uppercase;

    &.black {
        color: $darkBackgroundColor;
    }

    &.grad {
        background: $mainColor;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

#root {
    height: 100vh;
}