$mainColor: linear-gradient(135deg, rgb(255, 85, 0), rgb(255, 191, 0));
$secondMainColor: rgb(255, 162, 0);
$darkSecondMainColor: rgb(150, 95, 0);
$darkBackgroundColor: #141414;
$gray: #484848;
$white: rgb(225, 227, 230);
$red: rgb(255, 0, 0);
$green: green;